.header-print {
  display: flex;
  align-items: center;
}

.logo-print {
  width: 90px;
  margin-right: 20px;
}

.judul-print {
  flex: 1;
  text-align: center;
}

.judul-print h2 {
  margin: 0;
}

.judul-print p {
  margin: 2px;
  font-size: 14px;
}

hr {
  border: 2px solid black;
  margin: 20px 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

header {
    background: #1e8449;
    color: white;
    text-align: center;
    padding: 30px;
}

.hero {
    padding: 60px 20px;
    text-align: center;
    background: #e9f7ef;
}

.section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.light {
    background: white;
}

h2 {
    color: #1e8449;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    width: 100%;
}

footer {
    background: #145a32;
    color: white;
    text-align: center;
    padding: 15px;

}
/* MENU DROPDOWN */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #145a32;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.menu > li:hover {
    background: #1e8449;
}

/* Submenu */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1e8449;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}
.menu li:hover > .dropdown {
    display: block;
}

.dropdown li a {
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
}

.dropdown li a:hover {
    background: #27ae60;
}

/* Tampilkan dropdown saat hover */
.menu li:hover .dropdown {
    display: block;
}
.section ul {
    margin-left: 20px;
    line-height: 1.8;
}
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #27ae60;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.section h3 {
    margin-top: 15px;
    color: #145a32;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(90deg, #27ae60, #2ecc71);
    color: white;
    padding: 20px;
}

.logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
}
nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0;
    padding: 0;
    margin: 0;
}



